* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.App {
    background-color: #30336b;
    position: relative;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 20px 0;
    width: 230px;
    height: 90px;
}

.search-position {
    display: flex;
    margin-left: 4em;
    justify-content: center;
    align-items: center;
}

.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20rem;
    height: 30px;
}

#card {
    width: 14rem;
    min-height: 260px;
    background-color: #f1f2f6;
    border: 0;
}

.card-img-top {
    display: flex;
    background: linear-gradient(rgb(248, 113, 113), rgb(209, 213, 219), rgb(59, 130, 246));
    z-index: 10;
    min-width: 100%;
    min-height: 12em;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.card-img {
    max-width: 100%;
    max-height: 8em;
    justify-content: center;
    align-items: center;
    animation: slide-top 1s ease-in-out 1s infinite alternate forwards;
}

    @keyframes slide-top {
        0% {
            transform: translateY(0);
        }
    
        100% {
            transform: translateY(-2.5px);
        }
    }

#card-body {
    min-height: 120px;
    padding: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;
    z-index: 1;
    border-radius: 20px;
}

#id {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: bold;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: .6;
}

.card-title {
    margin: 0;
}


.card-type {
    display: flex;
    padding: 10px 0;
}

.pokemon-type {
    width: 6.2rem;
    height: 2.2rem;
    margin-right: 10px;
    padding: 3px;
    text-transform: capitalize;
    text-align: center;
    border: 0 !important;
    background-color: #2A4950 !important;
}


.title-type {
    font-weight:500;
    font-size: 1em;
    opacity: .8;
    color: #FFFFFF !important;
}

.spinner-border {
    margin-left: 50px;
    margin-top: 40px;
}

.div-pagination {
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5em;
    margin: .5em;
}

.highlight {
    background-color: transparent;
    color: white;
    font-size: 2.5em;
}

.pags {
    color: #f1f2f6;
    font-size: 1.1em;
    padding: 0 5px;
}

.btn-pag {
    background-color: #000000;
    border: 0;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.in-footer {
    color: #f1f2f6;
    padding-bottom: 2em;
}

.in-footer a {
    text-decoration: none;
    color: #f1f2f6;
    transition: transform 0.3s ease-in-out;
}


.in-footer a:hover {
    transform: rotate(360deg) scale(1.2);
}

.pokedex-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1px;
        padding: 0 .5em .5em .5em;
    }


@media (max-width: 1300px) {
    #card {
        width: 12rem;
        min-height: 220px;
    }
}


@media (max-width: 1200px) {

    #card {
        width: 10rem;
        min-height: 220px;
    }
}

@media (max-width: 980px) {

    .pokedex-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2.2rem;
        column-gap: .1rem;
    }

    #card {
        min-width: 10rem;
        height: 260px;
    }
}


@media (max-width: 790px) {

    .pokedex-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2.6rem;
        column-gap: .1rem;
    }

    #card {
        min-width: 10rem;
        height: 260px;
    }

    .div-pagination {
    margin-right: 1.5em;
    }
}

@media (max-width: 620px) {

    .pokedex-grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        row-gap: 3.2rem;
        column-gap: 0;
    }

    #card {
        width: 12rem;
        min-height: 120px;
    }

    .div-pagination {
        margin-top: 1.2em;
        margin-right: 3.2em;
        margin-bottom: -1em;
    }
}


@media (max-width: 500px) {

    .pokedex-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 8rem;
        column-gap: 2em;
        padding-left: 2.5em;
    }

    #card {
        width: 20em;
        height: 22em;
    }

    .div-pagination {
        margin-top: 1.2em;
        margin-right: 1.2em;
        margin-bottom: -1em;
    }

    .search-position{
        margin-left: 1em;
    }
}

@media (max-width: 420px) {

    .pokedex-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
        column-gap: 2em;
        padding-left: .2em;
    }
}

#bckgd-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
    border-radius: 10px;
}

.grass{
    background-color: #74CB48;
}
.water{
    background-color: #6493EB;
}
.fire{
    background-color: #F57D31;
}
.electric{
    background-color: #F9CF30;
}
.psychic{
    background-color: #FB5584;
}
.poison{
    background-color: #A43E9E;
}
.bug {
    background-color: #A7B723;
}
.flying{
    background-color: #A891EC;
}
.fighting{
    background-color: #C12239;
}
.normal{
    background-color: #AAA67F;
}
.rock{
    background-color: #B69E31;
}
.ground{
    background-color: #DEC16B;
}
.ghost{
    background-color: #7f65aa;
}
.dark{
    background-color: #75574C;
}
.steel{
    background-color: #B7B9D0;
}
.fairy{
    background-color: #E69EAC;
}
.dragon{
    background-color: #7037FF;
}
.ice {
    background-color: #9AD6DF;
}
.unknown{
    background-color: #D8D8D8;
}  

/*grayscale*/

.black{
    background-color: #212121;
}
.mediumGray{
    background-color: #666666;
}
.lightGray{
    background-color: #E0E0E0;
}
.white{
    background-color: #FFFFFF;
}